

<footer class="container-fluid p-5 bg-dark text-white mt-5">

			<div class="footer-left">

				<h3>El Rincon del Bebe</h3>

				<p class="footer-links">
					<a href="../index.hbs" class="link-1">Home</a>
					
					<a href="../quienessomos.hbs">Quienes Somos</a>
				
					<a href="../productos.hbs">Productos</a>
				
					<a href="../contacto.hbs">contacto</a>
					
				</p>

				<p class="footer-company-name">El Rincon del Bebe © 2022</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>Segurola 200</span> Buenos Aires, Argentina</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>5411202020220</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:aixa.ratta@gmail.com.com">aixa.ratta@gmail.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>Sobre Nosotros</span>
					Somos un estudio de fotógrafia especializado en futuras mamás, recién nacidos y bebés hasta el año.
				</p>

				<div class="footer-icons">

					<a href="https://www.facebook.com/Rinc%C3%B3n-del-bebe-101392594881964"><i class="fa fa-facebook"></i></a>


				</div>

			</div>

		</footer>
</footer>