

<header class="container-fluid bg-info p-3 bg1">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="logo">
                    <h1>
                    <a href="/" style="text-decoration:wavy; font-family:Verdana, Geneva, Tahoma, sans-serif; color: rgb(80, 73, 73);">Special Baby</a>
                    </h1>
                    <h2 style="text-decoration:none; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(10, 10, 10); >
                        Estudio de Fotografia
                    </h2>
                </div>
            </div>
            <div class="col">
                {{> navbar}}
            </div>
        </div>
    </div>
</header>