

  <div class="text-center m-5">
        <hr>
        <h1 style="font-family:'Times New Roman', Times, serif">Reserva de sesiones y contacto</h1>
        <h2 style="font-size:20px;cm; font-family:'Times New Roman', Times, serif">Por favor asegúrate de reservar la sesión de fotos con unas 10 semanas de anticipación aproximadamente. Hago lo mejor que puedo para acomodar sesiones de último minuto mientras que mi agenda lo permita, pero lo ideal es reservarla con tiempo para ir creando desde el inicio el estilo de la sesión y poder cumplir con sus expectativas y deseos en cuanto a todo el desarrollo del servicio.</h2>
        <hr>
    </div>
<section style="padding-right:150px; padding-left:150px;">

    <div class="row g-3">
        <form action="./contacto" method="post">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" placeholder="Nombre">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Correo</label>
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Telefono</label>
                <input type="tel" class="form-control" name="telefono" placeholder="Telefono">
            </div>
             <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Mensaje</label>
                <input type="text" class="form-control" name="mensaje" placeholder="Mensaje">
            </div>
            <div class="mb-3 text-center">
                <input type="submit" class="button btn-secondary w-50 p-2" value="Enviar Info">
            </div>
        </form>

        <div class="text-center validacion">
            <h2 class="text-danger">
                {{validacion}}
            </h2>
        </div>
</section>


  