

<div class="card" style="width: 18rem;">
  <img src="https://delacostaestudio.com/site-gantry/images/headers/1-NEW-PLATA-XV.png" class="card-img-top" alt="plata">
  <div class="card-body">
    <h5 class="card-title">Paquete Plata- Valor: $20.000 ( o 2 pagos de $10.000) </h5>
    <p class="card-text"><li>Las mejores 10 fotografías, editadas profesionalmente, en formato digital de máxima calidad, enviados al correo mediante un link de descarga. Elegidas entre la fotógrafa y la familia (5 y 5).</li>

<li>Uno o dos cambio de set (escenografías, o conjunto de elementos usados como accesorios, fondos y contenedores).</li>

 <li>un cambio de vestuario</li>

<li>No incluye fotos familiares.</li>

<li>Imágenes extras: de quererlo se pueden adquirir archivos extras por $700 cada uno. Bajo ningún concepto se entregan los originales de la sesión.</li>

</p>
    <a href="https://api.whatsapp.com/send?phone=541140572143" class="btn btn-secondary">Contratar</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://delacostaestudio.com/site-gantry/images/headers/2-NEW-ORO-XV.png" class="card-img-top" alt="plata">
  <div class="card-body">
    <h5 class="card-title">Paquete Oro- Valor: $30.000 ( o 2 pagos de $15.000) </h5>
    <p class="card-text"><li>Las mejores 20 fotografías, editadas profesionalmente, en formato digital de máxima calidad, enviados al correo mediante un link de descarga. Elegidas entre la fotógrafa y la familia (10 y 10).</li>

<li>Uno o dos cambio de set (escenografías, o conjunto de elementos usados como accesorios, fondos y contenedores).</li>

 <li>Dos cambio de vestuario</li>

<li>Incluye participación de papá, mamá y/o hermano/s dentro de las 20 imágenes.</li>

<li>Imágenes extras: de quererlo se pueden adquirir archivos extras por $600 cada uno. Bajo ningún concepto se entregan los originales de la sesión.</li>

</p>
    <a href="https://api.whatsapp.com/send?phone=541140572143" class="btn btn-secondary">Contratar</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://delacostaestudio.com/site-gantry/images/headers/1-NEW-PLATA-XV.png" class="card-img-top" alt="plata">
  <div class="card-body">
    <h5 class="card-title">Paquete Oro- Valor: $40.000 ( o 2 pagos de $20.000) </h5>
    <p class="card-text"><li>Las mejores 30 fotografías, editadas profesionalmente, en formato digital de máxima calidad, enviados al correo mediante un link de descarga. Elegidas entre la fotógrafa y la familia (15 y 15).</li>

<li>Tres cambios de set (escenografías, o conjunto de elementos usados como accesorios, fondos y contenedores).</li>

 <li>Dos cambio de vestuario</li>

<li>Incluye participación de papá, mamá y/o hermano/s dentro de las 30 imágenes.</li>

<li>Imágenes extras: de quererlo se pueden adquirir archivos extras por $500 cada uno. Bajo ningún concepto se entregan los originales de la sesión.</li>

</p>
    <a href="https://api.whatsapp.com/send?phone=541140572143" class="btn btn-secondary">Contratar</a>
  </div>
</div>