

<div class="card" style="width: 18rem;">
  <img src="../public/multimedia/1.png" class="card-img-top" alt="plata">
  <div class="card-body">
    <h5 class="card-title">Paquete Plata</h5>
    <p class="card-text">Las mejores 10 fotografías, editadas profesionalmente, en formato digital de máxima calidad, enviados al correo mediante un link de descarga. Elegidas entre la fotógrafa y la familia (5 y 5).<br>

Uno o dos cambio de set (escenografías, o conjunto de elementos usados como accesorios, fondos y contenedores).<br>

Incluye un cambio de vestuario.<br>

No incluye fotos familiares.<br>

Imágenes extras: de quererlo se pueden adquirir archivos extras por $700 cada uno. Bajo ningún concepto se entregan los originales de la sesión.<br>
</p>
    <a href="https://wa.me/<541140572143>" class="btn btn-primary">Contratar</a>
  </div>
</div>
